.h5p-audio-inner {
  padding: 25px 5px 20px 5px;
}
.h5p-course-presentation .h5p-element.h5p-audio-wrapper {
  overflow: visible !important;
}
.editor .h5p-audio-transparent {
  position: relative;
  box-sizing: border-box;
  padding: -2px;
  border: 2px dashed #0468CE;
  border: 2px dashed rgba(4,104,206,0.5);
  height: 100%;
}
.editor .h5p-audio-transparent:before {
  color: #0468CE;
  opacity: 0.25;
  content: "\f028";
  font-family: 'H5PFontAwesome4';
  font-size: 1.0em;
  text-decoration: none;
  padding-left: 0.25em;
}
.sentence-style {
  display: inline-flex;
  flex-wrap: wrap;
}
.divText {
  margin: 5px 10px;
  border-radius: 50%;
  transition: 0.5s;
}
.divText > span {
  margin: 5px 0px 0px 5px;
  line-height: 120%;
}